.container {
   color: #ffffff;
   border-radius: 8px;
   background-color: var(--primary-color);
   text-align: center;
   width: fit-content;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   text-decoration: none;
}

.text {
   font-weight: 500;
   font-size: 1.125rem;

   @media screen and (max-width: 1024px) {
      font-size: 1rem;
   }
}

.text:hover {
   cursor: pointer;
}
