.container {
   width: 100%;
}

.wrapper {
   margin: 70px;
   display: flex;

   @media screen and (max-width: 1024px) {
      margin: 40px 15px;
      flex-direction: column;
   }
}

.faq-list-container {
   display: flex;
   flex-direction: column;
   flex: 1;
}

.faq-text {
   font-size: 2.5rem;
   font-weight: 600;
   color: #000000;
   margin-bottom: 40px;

   @media screen and (max-width: 1024px) {
      font-size: 1.5rem;
   }
}

.support-box-container {
   flex: 1;
   display: flex;
   justify-content: center;
}

.support-box-wrapper {
   width: 70%;
   background-color: var(--supprt-box-back);
   padding: 32px;

   @media screen and (max-width: 1024px) {
      width: 100%;  
      padding: 20px;
   }
}

.box-heading {
   font-size: 1.25rem;
   font-weight: 600;
   color: var(--specs-font-black);

   @media screen and (max-width: 1024px) {
      font-size: 1.125rem;
   }
}

.box-description {
   font-size: 1.125rem;
   margin: 12px 0;
   color: var(--specs-font-black);
   opacity: 80%;

   @media screen and (max-width: 1024px) {
      font-size: 0.875rem;
   }
}

.input {
   width: 100%;
   border: none;
   outline: none;
   background-color: #ffffff;
   border-radius: 2px;
   padding: 12px 16px;
   color: #888888;
   margin-bottom: 12px;
}

.textarea {
   width: 100%;
   height: 88px;
   resize: none;
   border: none;
   outline: none;
   padding: 12px 16px;
   margin-bottom: 15px;
   background-color: #ffffff;
   color: #888888;
}

.action-button-container {
   padding: 20px 30px;

   @media screen and (max-width: 1024px) {
      padding: 14px 25px;
   }
}

// FAQBox style

.faq-box-container {
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-bottom: 24px;
   border-radius: 4px !important;
}

.faq-box-header-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 25px;

   @media screen and (max-width: 1024px) {
      padding: 10px 15px;
   }
}

.faq-box-header {
   font-size: 1.25rem;
   font-weight: 400;

   @media screen and (max-width: 1024px) {
    font-size: 1rem;  
   }
}

.icon-wrapper {
   width: 20px;
   height: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.icon-wrapper:hover {
   cursor: pointer;
}

.icon-img {
   width: 100%;
   object-fit: contain;
}

.faq-box-description-wrapper {
   padding: 24px;

   @media screen and (max-width: 1024px) {
      padding: 20px;
   }
}

.description {
   font-size: 1.125rem;
   font-weight: 400;
   color: var(--specs-font-black);
   opacity: 50%;

   @media screen and (max-width: 1024px) {
      font-size: 0.875rem;
   }
}