:root {
   --primary-color: #4462de;
   --footer-back: #000c3f;
   --divider-gray: #c6c6c6;
   --divider-dark-gray: #767676;
   --tags-back: #f4f4f4;
   --tags-text-black: #051319;
   --vehicle-card-gray: #d8d8d8;
   --specs-back-gray: #f0f3ff;
   --dot-gray: #a9a9a9;
   --specs-font-black: #1e1e1e;
   --specs-price-black: #605d67;
   --specs-price-gray: #929292;
   --newest-model-back: #f1f1f1;
   --selection-border-gray: #d0d5dd;
   --input-field-font-color: #888888;
   --vehicle-date-back: #edf0fd;
   --filter-horizontal-divider: #e4e7e9;
   --filter-header: #191c1f;
   --filter-input: #a7a7a7;
   --model-count: #8c8c8c;
   --arrow-button-text: #0000003f;
   --arrow-button-back: #eef1ff;
   --container-back: #fafafa;
   --title-box-back: #eef0fb;
}
