.container {
   width: 100%;
   padding: 21.5px 16px;
   border: 1px solid var(--selection-border-gray);
   border-radius: 8px;
   margin-top: 30px;
   font-size: 1.125rem;
   color: var(--input-field-font-color);
}
