.container {
   width: 100%;
   padding-top: 60px;
   display: flex;
   background-color: #ffffff;
   border-radius: 0 30px 30px 30px;
   box-shadow: 0 4px 54px 0 #0000001a;
}

.query-container {
   display: flex;
   flex-direction: column;
   flex: 1;
   margin-left: 50px;
}

.container-header {
   font-size: 2.125rem;
   font-weight: 600;
   color: #000000;
   margin-bottom: 36px;
}

.query-area {
   width: 100%;
   height: 120px;
   margin-top: 30px;
   resize: none;
   padding: 16px;
   color: var(--input-field-font-color);
   border: 1px solid var(--selection-border-gray);
   border-radius: 8px;
   font-size: 1.125rem;
}

.vertical-divider {
   width: 1px;
   background-color: var(--divider-gray);
   height: auto;
   margin-left: 60px;
}

.address-container {
   display: flex;
   flex-direction: column;
   background-image: url("../../../../res/contactBack.png");
   background-position: bottom;
   background-size: contain;
   background-repeat: no-repeat;
   flex: 1;
   border-radius: 0 0 30px 0;
}

.address-wrapper {
   margin-left: 50px;
}