.container {
   background-color: var(--container-back);
   display: flex;
   flex-direction: column;
}

.container-header {
   font-size: 2.125rem;
   font-weight: 600;
   color: #000000;
   margin: 70px 0 0 120px;

   @media screen and (max-width: 1024px) {
      font-size: 1.5rem;
      margin: 40px 15px 5px 15px;
   }
}

.wrapper {
   margin: 70px 120px;
   background-color: #ffffff;
   border-radius: 0 30px 30px 30px;
   box-shadow: 0 4px 54px 0 #0000001a;

   @media screen and (max-width: 1024px) {
      margin: 15px;
   }
}

.who-we-are-wrapper {
   display: flex;
   padding: 40px;
   align-items: last baseline;
}

.para-desc-container-1 {
   width: 80%;

   @media screen and (max-width: 1024px) {
      width: 100%;
   }
}

.para-desc-container-2 {
   background-color: var(--arrow-button-back);
   padding: 40px;
}

.logo-wrapper {
   width: 349px;
   height: 100%;
   margin-left: 50px;
   justify-self: baseline;

   @media screen and (max-width: 1024px) {
      display: none;
   }
}

.logo {
   width: 100%;
   object-fit: contain;
}

.what-we-do-wrapper {
   display: flex;
   padding: 40px;
   align-items: center;
}

.img-wrapper {
   width: 661px;
   height: 100%;
   margin-left: 50px;

   @media screen and (max-width: 1024px) {
      display: none;
   }
}

.about-img {
   width: 100%;
   object-fit: contain;
}
