.container {
   display: flex;
   border: 1px solid var(--filter-horizontal-divider);
   padding: 15px 16px 15px 13px;
   width: 100%;
   align-items: center;
   margin: 12px 0;
}

.checkbox {
   width: 20px;
   height: 20px;
   background-color: var(--primary-color);
}

.placeholder {
   font-size: 0.875rem;
   color: var(--tags-text-black);
   margin: 0 8px;
}

.model-count {
   font-size: 0.875rem;
   color: var(--model-count);
}

.drop-down-arrow {
   margin-left: auto;
   width: 12px;
   height: 7px;
}

.drop-down-arrow:hover {
   cursor: pointer;
}